@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  font-family: 'Nunito', sans-serif;
}
nav {
  box-shadow: 1px 1px 20px 2px rgb(170, 169, 169);
}
.navbar-title {
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}
#card {
  border: none !important;
  box-shadow: 1px 1px 20px 2px rgb(170, 169, 169);
}